*{
    margin: 0;
    padding: 0;
}
body{
    /* text-align: center; */
    background-color: rgb(245, 233, 233);
}
/* ---------------------------------section 1----------------------------------- */
.top{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: rgb(206, 206, 187);
}
.top .top1{
    background-color: blue;
    color: white;
    text-align: end;
    padding-right: 15%;
}
.top .head{
    color: purple;
    font-size: 40px;
}
.top i{
    font-size: 50px;
}
/* ---------------------------------section 2----------------------------------- */
.maincontainer{
    display: flex;
    justify-content: space-between;
}
.sidebar{    
    background-color: rgb(236, 206, 211);
    width: 20%;    
}
.sidebar a{
    text-decoration: none;
}

.sidebar .sidetext{
    text-decoration: none;
    color: blueviolet;    
}
.activelink{
    background-color: rgb(245, 233, 233);
    color: blue;
}
.sidebar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;    
}
/* --------------------------------------------------------------------------------------- */
.display{
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    justify-content: space-around;
    gap: 35px;
    margin-top: 3%;
    margin-right: 5%;
}
.display .box1{
    color: white;
    /* background-color: rgb(111, 201, 111); */
    /* background: #833AB4; */
    background: linear-gradient(355deg, rgba(131, 58, 180, 1) 2%, rgba(253, 29, 29, 1) 62%, rgba(252, 176, 69, 1) 100%);
    border-radius: 20px;
    text-align: center;       
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.display .box2{
    color: white;
    background-color: rgb(216, 216, 105);
    border-radius: 20px;
    text-align: center;  
      
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(green,red,blue);
}
.display .box3{
    color: white;
    background: radial-gradient(circle,rgba(181, 5, 82, 1) 0%, rgba(148, 187, 233, 1) 100%);
    border-radius: 20px;
    text-align: center;    
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.display .box4{
    color: white;
    background: linear-gradient(90deg,rgba(115, 180, 58, 0.36) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    border-radius: 20px;
    text-align: center;   
     
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.display .box5{
    color: white;
    background: radial-gradient(circle,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    border-radius: 20px;
    text-align: center;
        
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10%;    
}
.display i{
    font-size: 3rem;
}