<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/Miniproject/add_visitor.css">
    <title>AVMS</title>
</head>
<body>
    <section class="top">
        <h1 class="top1">AVMS</h1>
        <h1 class="head">Welcome</h1>
        <a class="icon" href="#"><i class="ri-account-circle-fill"></i></a>
    </section>    
    <div class="maincontainer">
        <div class="sidebar">
            <ul>
                <li><div class="activelink"><i class="ri-dashboard-2-line"></i>&nbsp;Dashboard</div></li>                
                <li><a href="#"><div class="sidetext"><i class="ri-team-line"></i>&nbsp;Visitor</div></a></li>
                <li><a href="#"><div class="sidetext"><i class="ri-pass-valid-line"></i>&nbsp;Create Pass</div></a></li>
                <li><a href="#"><div class="sidetext"><i class="ri-search-line"></i>&nbsp;Search Visitor</div></a></li>
                <li><a href="#"><div class="sidetext"><i class="ri-search-line"></i>&nbsp;Search Pass</div></a></li>
                <li><a href="#"><div class="sidetext"><i class="ri-folder-2-fill"></i>&nbsp;Visitor Report</div></a></li>
                <li><a href="#"><div class="sidetext"><i class="ri-folder-2-fill"></i>&nbsp;Pass Report</div></a></li>
            </ul>       
            
        </div>
    
        <div class="form">            
            <form action="" method="post">
                <h3>Admin Profile</h3>
                                   
                    <div class="Inputbox">
                        <label for="">First Name</label>
                        <input type="text" name="username" placeholder="First name">
                    </div>
                    <div class="Inputbox">
                        <label for="">Last Name</label>
                        <input type="text" name="username" placeholder="First name">
                    </div>
                    
                    <div class="Inputbox">
                        <label for="">Email</label>
                        <input type="email" name="email" placeholder="Email Input">
                    </div>
                    
                    
                    <div class="Inputbox">
                        <label for="">Username</label>
                        <input type="text" name="username" placeholder="Username">
                    </div>
                    
                    <div>
                        <label for="">Password</label>
                        <input type="password" placeholder="Fill only to change password">
                    </div>                               

                <button class="add" type="submit">Add</button>
            </form>
            
        </div>
    </div>
    
</body>
</html>

